In [1]:
print("1. Python function ")
#multiply two numbers using a python function
def multiply(x,y):
    z = x*y
    return z
#call the function to multiply the numbers 2 and 3
multiply(2,3)

1. Python function

6

In [2]:
print("2. Python data types and sequences ")
type(' My name is Rohan')

type(1)

2. Python data types and sequences

int

In [3]:
type(1.0)

float

In [4]:
type(None) #None signifies 'no value' or 'empty value'

NoneType

In [5]:
type(multiply) #multiply is a function we created previously

function

In [6]:
print("i. Tuples: Immutable data structure ")
a = (1,2,3,4)
type(a)

i. Tuples: Immutable data structure

tuple

In [7]:
print("ii. Lists: mutable objects ")
b = [1,2,3,4]
type(b)

ii. Lists: mutable objects

list

In [8]:
b.append(2.2) #append to list using this function
print(b)

[1, 2, 3, 4, 2.2]

In [9]:
[1,2,3] + [1,'abc','de'] #concatenate lists

[1, 2, 3, 1, 'abc', 'de']

In [10]:
[1,2]*3 #repeat lists

[1, 2, 1, 2, 1, 2]

In [11]:
3 in b #in operator to check if required object is in list

True

In [12]:
a,b = ('abc','def')
print(a)
print(b)

abc
def

In [13]:
print("iii. Strings: stores character objects ")
x = 'My name is Rohan'

x[0] #Access first letter

iii. Strings: stores character objects

'M'

In [14]:
x[0:2] #Accesses two letters

'My'

In [15]:
x[:-1] #Accesses everything except last letter

'My name is Roha'

In [16]:
x[10:] #returns all the characters from 10th position till end

' Rohan'

In [17]:
first = 'Rohan'
last = 'Joseph'

Name = first + ' ' + last #string concatenation
print(Name)

Rohan Joseph

In [18]:
Name.split(' ') #split the words in a string using split function

['Rohan', 'Joseph']

In [19]:
Name.split(' ')[0] #Show the first word

'Rohan'

In [20]:
Name.split(' ')[1] #Show the second word

'Joseph'

In [21]:
#for concatenation convert objects to strings
'Rohan' + str(2)

'Rohan2'

In [22]:
print("iv. Dictionary: key,value pairs, indexed, not ordered collections ")
c = {"Name" : "Rohan", "Height" : 176}
type(c)

iv. Dictionary: key,value pairs, indexed, not ordered collections

dict

In [23]:
print(c)

{'Name': 'Rohan', 'Height': 176}

In [24]:
c['Name'] #Access Name

'Rohan'

In [25]:
c['Height']

176

In [26]:
#print all the keys
for i in c:
    print(i)

Name
Height

In [27]:
for i in c.values():
    print(i)

Rohan
176

In [28]:
for name, height in c.items():
    print(name)
    print(height)

Name
Rohan
Height
176

In [29]:
print("3. Python Date and Time ")
import datetime as dt
import time as tm

3. Python Date and Time

In [30]:
tm.time() #print current time in seconds from January 1, 1970

1659924375.640474

In [31]:
#convert timestamp to datetime
dtnow = dt.datetime.fromtimestamp(tm.time()) 
dtnow.year

2022

In [32]:
today = dt.date.today()
today

datetime.date(2022, 8, 8)

In [33]:
delta = dt.timedelta(days=100)
today - delta

datetime.date(2022, 4, 30)

In [34]:
print("4. Map function ")

a = [1,2,3,10]
b = [5,6,2,9]

4. Map function

In [35]:
c = map(min,a,b) #Find the minimum between two pairs of lists
for item in c:
    print(item) #print the minimum of the pairs

1
2
2
9

In [36]:
print("5. Lambda function ")

function = lambda a,b,c : a+b+c #function to add three numbers
function(2,2,3) #call the function

5. Lambda function

7

In [37]:
print("6. Filter function ")

x = [1,2,3,4,5,6,7,8,9] #create a list
x2 = filter(lambda a : a>5, x) #filter using filter function
print(list(x2))

6. Filter function
[6, 7, 8, 9]

In [38]:
print("7. Reduce function ")

from functools import reduce #import reduce function
y = [1,2,3,4,5] #create list
reduce(lambda a,b : a*b,y) #use reduce

7. Reduce function

120

In [39]:
print("8. Zip function ")

a = [1,2,3,4] #create two lists
b = [5,6,7,8]
c = zip(a,b) #Use the zip function
print(list(c))

8. Zip function
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [40]:
a = [1,2] #create two lists
b = [5,6,7,8]
c = zip(a,b) #Use the zip function
print(c)

<zip object at 0x7f48eedbafa0>

In [41]:
print("9. For loop ")

#return even numbers from 1 to 100

even=[]
for i in range(100):
    if i%2 ==0:
        even.append(i)
    else:
        None
print(even) #print the list

9. For loop
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [42]:
print("10. List comprehension ")

even = [i for i in range(100) if i%2==0]
print(even)

10. List comprehension
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]